# See https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @mackowski @jmanico

# commjoen have full access to Secrets_Management_CheatSheet
* /cheatsheets_draft/Secrets_Management_CheatSheet.md @commjoen 

# Kevin W. Wall (kwwall) 
/cheatsheets/Authentication_Cheat_Sheet.md kevin.w.wall@gmail.com
/cheatsheets/Authorization_Cheat_Sheet.md @kwwall
* /cheatsheets/C-Based_Toolchain_Hardening_Cheat_Sheet.md @kwwall
* /cheatsheets/Choosing_and_Using_Security_Questions_Cheat_Sheet.md @kwwall
* /cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md @kwwall
* /cheatsheets/Clickjacking_Defense_Cheat_Sheet.md @kwwall
* /cheatsheets/Cryptographic_Storage_Cheat_Sheet.md @kwwall
* /cheatsheets/Deserialization_Cheat_Sheet.md @kwwall
* /cheatsheets/Forgot_Password_Cheat_Sheet.md @kwwall
* /cheatsheets/JAAS_Cheat_Sheet.md @kwwall
* /cheatsheets/Key_Management_Cheat_Sheet.md @kwwall
* /cheatsheets/Logging_Cheat_Sheet.md @kwwall
* /cheatsheets/Mass_Assignment_Cheat_Sheet.md @kwwall
* /cheatsheets/OS_Command_Injection_Defense_Cheat_Sheet.md @kwwall
* /cheatsheets/Password_Storage_Cheat_Sheet.md @kwwall
* /cheatsheets/Pinning_Cheat_Sheet.md @kwwall
* /cheatsheets/Session_Management_Cheat_Sheet.md @kwwall
* /cheatsheets/SAML_Security_Cheat_Sheet.md @kwwall
* /cheatsheets/Secrets_Management_Cheat_Sheet.md @kwwall
* /cheatsheets/TLS_Cipher_String_Cheat_Sheet.md @kwwall
