# See [https://help.github.com/en/articles/about-code-owners](https://help.github.com/en/articles/about-code-owners)

## These owners will be the default owners for everything in the repo

- @mackowski @jmanico @szh

## Kevin W. Wall (kwwall)

/cheatsheets/Authentication_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Authorization_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/C-Based_Toolchain_Hardening_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Choosing_and_Using_Security_Questions_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Clickjacking_Defense_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Cryptographic_Storage_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Deserialization_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Forgot_Password_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/JAAS_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Key_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Logging_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Mass_Assignment_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/OS_Command_Injection_Defense_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Password_Storage_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Pinning_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Session_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/SAML_Security_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/Secrets_Management_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
/cheatsheets/TLS_Cipher_String_Cheat_Sheet.md @kwwall @mackowski @jmanico @szh
