language: node_js
node_js:
  - "node"
before_script:
  - sudo apt-get install python3.5 python3-pip python3-setuptools python3-wheel
  - pip3 install requests feedgen wheel
  - npm install -g markdown-link-check
  - npm install -g gitbook-cli
  - chmod +x scripts/Generate_Site.sh
script:
  - cd scripts
  - echo "Try to generate the offline website..."
  - sed -i 's/python/python3\.5/g' Generate_Site.sh
  - bash Generate_Site.sh
  - ls -l ../generated/site/