name: Markdown Lint Check

on:
  push:
  pull_request:
    branches:
    - master

jobs:
  lint:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    env:
      CI: true
    steps:
    - name: Setup Action
      uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - name: Install dependencies
      run: npm install
    - name: Run linter
      run: npm test
